@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    padding: 100px 0;

    /*добавить цвет фона страницы (background)*/
    
}

h3 {
    margin: 10px 0;

    /*Убрать границу, добавить размер и толщину тексту*/
    border: 5px solid purple;/*убрать*/
}

.container {
    width: 800px;
    min-height: 500px;
    margin: 0 auto;

    /*Добавить цвет фону (background)*/
    
    border: 10px solid red; /*поменять цвет*/
}

.header{
    display: flex;
    height: 150px;
}

.title-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    margin-right: 10px;

    /*добавить картинку и изменить размер и цвет шрифта*/
    border: 5px solid green;/*убрать*/
    /* background: url()
    no-repeat center center / cover; */ /*добавить ссылку на изображение*/
}


/*
.title-block::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
}

.title {
    position: relative;
    z-index: 1;
}
*/

.userpic {
    display: flex;
    height: 100%;
    width: 20%;

    border: 5px solid blue;/*убрать*/
    /* background: url()
    no-repeat center center / cover; */ /*добавить ссылку на изображение*/
}

.nav ul {
    display: flex;
    margin: 10px 0;

    /* Добавить цвет фону (background) */
}

.nav li a {
    /* transition: background .3s ease; */
    padding: 20px;
    display: flex;
    
    /* Убрать границу, убрать подчеркивание, изменить цвет текста */
    border: 5px solid pink;/*убрать*/
}

/* .nav li a:hover {
    background: rgb(185, 175, 175);
} */

.content-wrapper {
    display: flex;
}

.content {
    width: 70%;
    padding: 20px;
}

.content p {
    line-height: 20px;

    border: 5px solid orange;/*убрать границу*/
}

.sidebar {
    padding: 20px;
    width: 30%;

    /*убрать границу и добавить цвет фону*/
    border: 5px solid orange;/*убрать*/
   
}

.skills li {
    padding: 10px 0;
    /* transition: transform .5s ease;
    cursor: pointer; */
}

/* .skills li:hover {
    transform: translateX(10px);
} */

.btn-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 20px;

}

.btn {
    padding: 10px 30px;
    font-size: 20px;
}